<div class="row" style="padding-bottom:30px;">
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" [(ngModel)]="filters.filterProduct" placeholder="Product" (click)="onFilterClick('productWanted')" (selectItem)="onSelect($event, 'productWanted')" [ngbTypeahead]="search"/> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterProduct" placeholder="Product" (ngModelChange)="onFilterChange($event, 'productWanted')" />
        </span>
        <span>
            <button *ngIf="filters.filterProduct.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterProduct.length" (click)="clearFilter('filterProduct')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Customer Name" [ngbTypeahead]="search" (click)="onFilterClick('customerName')" (selectItem)="onSelect($event, 'customerName')" [(ngModel)]="filters.filterCustomerName" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerName" placeholder="Customer Name" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerName.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerName.length" (click)="clearFilter('filterCustomerName')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Customer Mobile Number" [ngbTypeahead]="search" (click)="onFilterClick('customerNumber')" (selectItem)="onSelect($event, 'customerNumber')" [(ngModel)]="filters.filterCustomerMobile" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerMobile" placeholder="Customer Mobile Number" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerMobile.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerMobile.length" (click)="clearFilter('filterCustomerMobile')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
        
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Creation Date" [ngbTypeahead]="search" (click)="onFilterClick('leadCreationDate')" (selectItem)="onSelect($event, 'leadCreationDate')" [(ngModel)]="filters.filterCustomerDate" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerDate" placeholder="Creation Date" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerDate.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerDate.length" (click)="clearFilter('filterCustomerDate')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
        
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Status" [ngbTypeahead]="search" (click)="onFilterClick('currentStatus')" (selectItem)="onSelect($event, 'currentStatus')" [(ngModel)]="filters.filterStatus" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterStatus" placeholder="Status" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterStatus.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterStatus.length" (click)="clearFilter('filterStatus')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="text-align: right;">
        <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Bulk Action</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Delete</button>
                <button ngbDropdownItem>Download</button>
                <button ngbDropdownItem>Freeze</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-1" style="text-align: right;">
        <fa-icon class="color-teal" [icon]="faArrowCircleUp" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="chartPanel" size="2x"></fa-icon>
    </div> -->
</div>
<div class="row" style="padding-top:14px;font-size: 14px;">
    <div class="col-12" style="text-align: left;">
        <table class="table table-striped">
            <thead>
            <tr class="bg-teal color-white">
                <th scope="col" style="text-align: center;font-weight: 400;">#</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Product</th>
                <th scope="col" style="font-weight: 400;" sortable="area" (sort)="onSort($event)">Customer Name</th>
                <th scope="col" style="font-weight: 400;" sortable="population" (sort)="onSort($event)">Customer number</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Product Value</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Ceation Date</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Last Updated On</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Status</th>
                <th scope="col" style="font-weight: 400;" sortable="name" (sort)="onSort($event)">Actions</th>
                <th scope="col" sortable="name" (sort)="onSort($event)" style="text-align: center;font-weight: 400;">Select All</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lead of leads, let i=index" >
                    <td style="text-align: center;width:2%;">
                        {{lead.leadId}}
                    </td>
                    <td>
                        <span>{{lead.productWanted}} </span>
                    </td>
                    <td>
                        <span style="cursor: pointer;" placement="top" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="onPopperShowClientDetails(lead)"
                        ><span style="float:left;padding-right:5px;"><fa-icon class="color-orange" placement="top" ngbTooltip="Click to View more info" [icon]="faInfoCircle"></fa-icon></span>{{lead.customerName}}</span>
                        
                    </td>
                    <td>
                        {{lead.customerNumber}}
                    </td>
                    <td>
                        ₹{{lead.requiredProductValue}}
                    </td>
                    <td>
                        {{lead.leadCreationDate}}
                    </td>
                    <td>
                        {{lead.lastStatusChangeDate}}
                            
                    </td>
                    <td>
                        {{lead.currentStatus}}
                    </td>
                    <td>
                        <fa-icon class="color-teal" placement="top" ngbTooltip="View History" [icon]="faHistory"></fa-icon>&nbsp;
                        <fa-icon (click)="openLead(lead)" class="color-teal" placement="top" ngbTooltip="Edit Lead" [icon]="faEdit"></fa-icon>&nbsp;
                        <fa-icon class="color-teal" [icon]="faArrowCircleUp"></fa-icon>
                    </td>
                    <td style="text-align: center;">
                        <mat-checkbox></mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items</option>
        <option [ngValue]="5">5 items</option>
        <option [ngValue]="10">10 items</option>
        <option [ngValue]="50">50 items</option>
        <option [ngValue]="100">100 items</option>
    </select>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        "This is demo content"
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<!-- <ng-template #tipContent>Hello, <b>{{popperShowClientDetails | json}}</b>!</ng-template> -->

<ng-template #popContent>
    <!-- Hello, <b>{{popperShowClientDetails | json}}</b>! -->
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Customer Name</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['customerName']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Customer Mobile No.</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['customerNumber']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Employment Type</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['employementType']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Company/Bussiness</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['companyBusinessName']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Gross Income</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['monthlyGrossIncome']}}</div>
    </div>
    <div class="row">
        <div class="col-6" style="font-weight:600;">Net Income</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['monthlyNetIncome']}}</div>
    </div>


</ng-template>
<ng-template #popTitle>Customer Details</ng-template>

