<div class="row" style="padding-top:14px;font-size: 14px;">
    <div class="col-12" style="text-align: left;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" style="text-align: center;">Lead Number</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Product</th>
                <th scope="col" sortable="area" (sort)="onSort($event)">Customer Name</th>
                <th scope="col" sortable="population" (sort)="onSort($event)">Customer number</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Product Value</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Ceation Date</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Last Updated On</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Status</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Actions</th>
                <th scope="col" sortable="name" (sort)="onSort($event)" style="text-align: center;">Select All</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lead of leads, let i=index" >
                    <td style="text-align: center;">
                        {{lead.leadId}}
                    </td>
                    <td>
                        <span class="color-pink" (click)="open(content)">{{lead.productWanted}} </span>
                    </td>
                    <td>
                        <span placement="top"[ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="onPopperShowClientDetails(lead)"
                        >{{lead.customerName}} </span>
                        
                    </td>
                    <td>
                        {{lead.customerNumber}}
                    </td>
                    <td>
                        {{lead.requiredProductValue}}
                    </td>
                    <td>
                        {{lead.leadCreationDate}}
                    </td>
                    <td>
                        {{lead.lastStatusChangeDate}}
                            
                    </td>
                    <td>
                        {{lead.currentStatus}}
                    </td>
                    <td>
                        actions
                    </td>
                    <td style="text-align: center;">
                        <mat-checkbox></mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        "This is demo content"
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<!-- <ng-template #tipContent>Hello, <b>{{popperShowClientDetails | json}}</b>!</ng-template> -->

<ng-template #popContent>
    <!-- Hello, <b>{{popperShowClientDetails | json}}</b>! -->
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Customer Name</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['customerName']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Customer Mobile No.</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['customerNumber']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Employment Type</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['employementType']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Company/Bussiness</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['companyBusinessName']}}</div>
    </div>
    <div class="row" style="border-bottom: 1px solid white;">
        <div class="col-6" style="font-weight:600;">Gross Income</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['monthlyGrossIncome']}}</div>
    </div>
    <div class="row">
        <div class="col-6" style="font-weight:600;">Net Income</div>
        <!-- <div class="col-4" style="text-align: center;">|</div> -->
        <div class="col-6" style="text-align: right;">{{popperShowClientDetails['monthlyNetIncome']}}</div>
    </div>


</ng-template>
<ng-template #popTitle>Customer Details</ng-template>

