<app-page-header [title]="'Manage Users'" [saveButton]="false" (save)="null"></app-page-header>
<div class="row" style="margin-top:30px;">
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" [(ngModel)]="filters.filterProduct" placeholder="Product" (click)="onFilterClick('productWanted')" (selectItem)="onSelect($event, 'productWanted')" [ngbTypeahead]="search"/> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterProduct" placeholder="Product" (ngModelChange)="onFilterChange($event, 'productWanted')" />
        </span>
        <span>
            <button *ngIf="filters.filterProduct.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterProduct.length" (click)="clearFilter('filterProduct')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Customer Name" [ngbTypeahead]="search" (click)="onFilterClick('customerName')" (selectItem)="onSelect($event, 'customerName')" [(ngModel)]="filters.filterCustomerName" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerName" placeholder="Customer Name" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerName.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerName.length" (click)="clearFilter('filterCustomerName')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Customer Mobile Number" [ngbTypeahead]="search" (click)="onFilterClick('customerNumber')" (selectItem)="onSelect($event, 'customerNumber')" [(ngModel)]="filters.filterCustomerMobile" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerMobile" placeholder="Customer Mobile Number" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerMobile.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerMobile.length" (click)="clearFilter('filterCustomerMobile')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
        
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Creation Date" [ngbTypeahead]="search" (click)="onFilterClick('leadCreationDate')" (selectItem)="onSelect($event, 'leadCreationDate')" [(ngModel)]="filters.filterCustomerDate" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterCustomerDate" placeholder="Creation Date" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterCustomerDate.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterCustomerDate.length" (click)="clearFilter('filterCustomerDate')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
        
    </div>
    <div class="col-2" style="display:flex;">
        <span>
            <!-- <input type="text" class="form-control" placeholder="Status" [ngbTypeahead]="search" (click)="onFilterClick('currentStatus')" (selectItem)="onSelect($event, 'currentStatus')" [(ngModel)]="filters.filterStatus" /> -->
            <input type="text" class="form-control" [(ngModel)]="filters.filterStatus" placeholder="Status" (ngModelChange)="onFilterChange()" />
        </span>
        <span>
            <button *ngIf="filters.filterStatus.length" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon *ngIf="filters.filterStatus.length" (click)="clearFilter('filterStatus')" class="color-pink">clear</mat-icon>
            </button> 
        </span>
    </div>
    <div class="col-2" style="text-align: right;">
        <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Bulk Action</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Delete</button>
                <button ngbDropdownItem>Download</button>
                <button ngbDropdownItem>Freeze</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-1" style="text-align: right;">
        <fa-icon class="color-teal" [icon]="faArrowCircleUp" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="chartPanel" size="2x"></fa-icon>
    </div> -->
</div>
<div class="row" style="padding-top:14px;font-size: 14px;">
    <div class="col-12" style="text-align: left;">
        <table class="table table-striped">
            <thead>
            <tr class="bg-teal color-white">
                <th scope="col" style="text-align: center;font-weight: 400;">#</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Product</th>
                <th scope="col" style="font-weight: 400;" sortable="area" >Customer Name</th>
                <th scope="col" style="font-weight: 400;" sortable="population" >Customer number</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Product Value</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Ceation Date</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Last Updated On</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Status</th>
                <th scope="col" style="font-weight: 400;" sortable="name" >Actions</th>
                <th scope="col" sortable="name"  style="text-align: center;font-weight: 400;">Select All</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lead of users, let i=index" >
                    <td style="text-align: center;width:2%;">
                        {{lead.userTeamLead}}
                    </td>
                    <td>
                        <span>{{lead.userName}} </span>
                    </td>
                    <td>
                        <span></span>
                        
                    </td>
                    <td>
                        {{lead.userMail}}
                    </td>
                    <td>
                        ₹{{lead.userMobile}}
                    </td>
                    <td>
                        {{lead.userRole}}
                    </td>
                    <td>
                        {{lead.userStauts}}
                            
                    </td>
                    <td>
                        {{lead.userRoleId}}
                    </td>
                    <td>
                        <fa-icon class="color-teal" placement="top" ngbTooltip="View History" [icon]="faHistory"></fa-icon>&nbsp;
                        <fa-icon  class="color-teal" placement="top" ngbTooltip="Edit Lead" [icon]="faEdit"></fa-icon>&nbsp;
                        <fa-icon class="color-teal" [icon]="faArrowCircleUp"></fa-icon>
                    </td>
                    <td style="text-align: center;">
                        <mat-checkbox></mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>
<!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items</option>
        <option [ngValue]="5">5 items</option>
        <option [ngValue]="10">10 items</option>
        <option [ngValue]="50">50 items</option>
        <option [ngValue]="100">100 items</option>
    </select>
</div> -->