.padding-top-col {
    padding-top: 8px;
}

.input-field{
    background: #E0F2F1 !important;
}

.ngx-dropdown-button{
    background-color: #E0F2F1 !important;
}

.ngx-dropdown-container{
    background-color: #E0F2F1 !important;
}

.invalid-input{
    border-color: #dc3545 !important;
}