<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col" style="padding-top: 10%;">
      <div class="login-form bg-teal">
        <h6 style="text-align:center">Login to Continue</h6>
        <br />
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div>
            <button style="width:100%;" routerLink="/dashboard" type="button" class="btn bg-warning">Login</button>
             <a routerLink="/dashboard" style="text-align:right;margin-right:0px;padding-top:10px;font-size:14px;text-decoration: underline;color:white;padding-top: 10px;float:right;">Request for Account Creation</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>