<div class="container-fluid">
    <div class="row chart-area" id="chartPanel" [ngbCollapse]="isCollapsed">
        <div class="col-4">
            <h6 class="top-labels" >Products</h6>
            <app-product-count-table [user]="user" [title]="'My Leads'" *ngIf="user.userRole === 'member'"></app-product-count-table>
            <app-product-count-table [user]="user" [title]="'My Team'" *ngIf="user.userRole === 'lead'"></app-product-count-table>
        </div>
        <div class="col-4">
            <div [chart]="chart"></div>
        </div>
        <div class="col-4" style="text-align: center;">
            <h6 class="top-labels" >Quick Links</h6>
            <!-- <ul class="list-group">
                <li class="list-group-item color-teal quicklinks">CREATE NEW LEAD</li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
                <li class="list-group-item color-teal quicklinks">CREAT NEW NOTIFICATION</li>
                <li class="list-group-item color-teal quicklinks">MANAGE SETTINGS</li>
                <li (click)="addNewLead()" class="list-group-item color-teal quicklinks"><span class="quicklinks-text">CREATE NEW LEAD</span></li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
              </ul> -->

              

              <mat-chip-list><mat-chip (click)="addNewLead()" class="bg-pink" style="color:white;">CREATE NEW LEAD</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-teal color-white" style="color:white;">CREATE NEW CLIENT</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-pink color-white" style="color:white;">CREAT NEW NOTIFICATION</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-teal color-white" style="color:white;">MANAGE SETTINGS</mat-chip></mat-chip-list>




              <!-- <mat-chip-list><mat-chip class="bg-pink">Papadum</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-pink">Papadum</mat-chip></mat-chip-list> -->
        </div>
    </div>    
    <div class="row" style="padding-top:32px;padding-bottom:15px;">
        <!-- <div class="col-2">
            <input id="typeahead-basic1" type="text" class="form-control" [(ngModel)]="filterProduct" placeholder="Product" (click)="onFilterClick('productWanted')" (selectItem)="onSelect($event, 'productWanted')" [ngbTypeahead]="search"/>
        </div>
        <div class="col-2">
            <input id="typeahead-basic2" type="text" class="form-control" placeholder="Customer Name" [ngbTypeahead]="search" (click)="onFilterClick('customerName')" (selectItem)="onSelect($event, 'customerName')" [(ngModel)]="filterCustomerName" />
        </div>
        <div class="col-2">
            <input id="typeahead-basic" type="text" class="form-control" placeholder="Customer Mobile Number" [ngbTypeahead]="search" (click)="onFilterClick('customerNumber')" (selectItem)="onSelect($event, 'customerNumber')" [(ngModel)]="filterCustomerMobile" />
        </div>
        <div class="col-2">
            <input id="typeahead-basic" type="text" class="form-control" placeholder="Creation Date" [ngbTypeahead]="search" (click)="onFilterClick('leadCreationDate')" (selectItem)="onSelect($event, 'leadCreationDate')" [(ngModel)]="filterCustomerDate" />
        </div>
        <div class="col-2">
            <input id="typeahead-basic" type="text" class="form-control" placeholder="Status" [ngbTypeahead]="search" (click)="onFilterClick('currentStatus')" (selectItem)="onSelect($event, 'currentStatus')" [(ngModel)]="filterStatus" />
        </div>
        <div class="col-2" style="text-align: right;">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Bulk Action</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Delete</button>
                    <button ngbDropdownItem>Download</button>
                    <button ngbDropdownItem>Freeze</button>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-1" style="text-align: right;">
            <fa-icon class="color-teal" [icon]="faArrowCircleUp" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="chartPanel" size="2x"></fa-icon>
        </div> -->
    </div>

    <div class="row">
        <div class="col-12">
            <app-dashboard-grid></app-dashboard-grid>
        </div>
    </div>
</div>
