<!-- <div class="container-fluid"> -->
    <div class="row chart-area" id="chartPanel" [ngbCollapse]="isCollapsed">
        <div class="col-4 pl-4">
            <h6 class="top-labels" >Products</h6>
            <app-product-count-table [user]="user" [title]="'My Leads'" *ngIf="user.userRole === 'member'"></app-product-count-table>
            <app-product-count-table [user]="user" [title]="'My Team'" *ngIf="user.userRole === 'lead'"></app-product-count-table>
        </div>
        <div class="col-4">
            <div [chart]="chart"></div>
        </div>
        <div class="col-4" style="text-align: center;">
            <h6 class="top-labels" >Quick Links</h6>
            <!-- <ul class="list-group">
                <li class="list-group-item color-teal quicklinks">CREATE NEW LEAD</li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
                <li class="list-group-item color-teal quicklinks">CREAT NEW NOTIFICATION</li>
                <li class="list-group-item color-teal quicklinks">MANAGE SETTINGS</li>
                <li (click)="addNewLead()" class="list-group-item color-teal quicklinks"><span class="quicklinks-text">CREATE NEW LEAD</span></li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
                <li class="list-group-item color-teal quicklinks">CREATE NEW CLIENT</li>
              </ul> -->

              
              <div>
                <mat-chip-list><mat-chip (click)="addNewLead()" class="bg-pink" style="color:white;">CREATE NEW LEAD</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-teal color-white" [routerLink]="['/manage-users']" style="color:white;">MANAGE USERS</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-pink color-white" [routerLink]="['/manage-products']" style="color:white;">MANAGE PRODUCTS</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-teal color-white" [routerLink]="['/manage-settings']" style="color:white;">MANAGE SETTINGS</mat-chip></mat-chip-list>
              </div>
              




              <!-- <mat-chip-list><mat-chip class="bg-pink">Papadum</mat-chip></mat-chip-list>
              <mat-chip-list><mat-chip class="bg-pink">Papadum</mat-chip></mat-chip-list> -->
        </div>
    </div> 

    <app-dashboard-grid></app-dashboard-grid>
